<!DOCTYPE html>
<html>
<head>
  <title>Create Password</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body class="container">

  <h4 class="center-align">Set Your Password</h4>

  <form method="post" action="/set-password-submit/{{ token }}/">
    {% csrf_token %}
    <div class="input-field">
      <input type="password" name="password" required>
      <label>New Password</label>
    </div>

    <div class="input-field">
      <input type="password" name="confirm" required>
      <label>Confirm Password</label>
    </div>

    <button class="btn waves-effect waves-light" type="submit">Save Password</button>
  </form>

</body>
</html>
